@using MVCileCVSitesi.Models.Entity
@model List<Tbl_Deneyimlerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Deneyim Listesi</h2>

<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Başlık</td>
        <td>Alt Başlık</td>
        <td>Tarih</td>
        <td>Sil</td>
        <td>Düzenle</td>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.ID</td>
    <td>@item.Baslik</td>
    <td>@item.AltBaslik</td>
    <td>@item.Tarih</td>
    <td><a href="/Deneyimlerim/DeneyimSil/@item.ID" class="btn btn-danger">Sil</a></td>
    <td><a href="/Deneyimlerim/DeneyimGetir/@item.ID" class="btn btn-warning">Düzenle</a></td>
</tr>
    }
</table>
<a href="/Deneyimlerim/DeneyimEkle" class="btn btn-primary">Yeni Deneyim Ekle</a>